@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var rowCount = 1;
}

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Patient Name</th>
                <th>Diabetes Risk Score</th>
                <th>Glucose Level</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.TopFive)
            {
                <tr>
                    <td>@rowCount</td>
                    <td>@patient.Name</td>
                    <td>@patient.RiskScore</td>
                    <td>@patient.Glucose</td>
                </tr>
                rowCount++;
            }
        </tbody>
    </table>
</div>
