@page
@model DiabetesRisk.Pages.UploadModel

<html>
<head>
    Upload CSV File
</head>
<body>
    <form method="post" enctype="multipart/form-data">

        <input type="file" accept=".csv" asp-for="Upload" />
        <input type="submit" />
    </form>

    @if (Model.UploadSuccessful)
        {
@*             @foreach (var patient in Model.PatientRecords)
            {
                <p>@patient.Name</p>   
            } *@
            <div>Upload Successful!</div>
        }
        @if (Model.UploadFailed)
        {
            <div>Upload Failed :(</div>
        }
    </body>
</html>

