@page
@model DiabetesRisk.Pages.UploadModel

<html class="justify-content-center">
<head class="fs-1">
    Upload CSV File
</head>
<body class="border">
    <form method="post" enctype="multipart/form-data">

        <input class="form-control mb-1" type="file" accept=".csv" asp-for="Upload" />
        <input class="btn btn-primary mb-1" type="submit" />
    </form>

    @if (Model.UploadSuccessful)
    {
        <div class="fw-bold fst-italic justify-content-center">Upload Successful! <span class="text-success">@Model.PatientRecords.Count</span> records added!</div>
    }
    @if (Model.UploadFailed)
    {
        <div class="fst-bold fst-italic justify-content-center">Upload Failed :(</div>
    }
    </body>
</html>

